.container-1{
  width: 100%;
  height: 100vh;
  display: flex;
}

.left{
  width: 50%;
  height: 100vh;
}

.button-for-destiney{
  margin-top: 90px;
}

#infowindow-content{
  display: none;
}

#map{
  width: 50%;
  height: 100vh;
}

.rigth{
  width: 50%;
  height: 100vh;
  display: flex;
  /* 水平置中 */
  justify-content: center;    
  /* 垂直置中 */
  align-items: center;   
}

#canvas{
  width: 100%;
  height: width;
}

.wrap{
  width: 100%;
  height: 50%;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

/* .search{
  padding: 10px 50px 10px 0px;
  width: 100%;
  display: block ;
} */

.search, .search-checkbox{
  display: inline-block;
  line-height: 50px;
  width: 100%;
}

.search-label{
  padding-right: 10px;
  width: 30%;
  text-align: right;
}

.search-bar{
  width: 35%;
  margin-right: 15%;
  display: inline-block;
  text-align: left;
}

.search-checkbox-label{
  width: 50%;
  display: inline-block;
  text-align: left;
}

.search-bar{
  height: 30px;
}

.alert{
  margin-top :10px;
}

#msg-error{
  display: none;
  text-align: center;
}

#msg-result{
  display: none;
  text-align: center;
}