.container-1{
  width: 100%;
  height: 100vh;
  display: flex;
}

.left{
  width: 70%;
  height: 100vh;
}

#infowindow-content{
  display: none;
  /* width: 300px; */
}

#place-name{
  display: block;
  width: 100%;
  font-size: x-large;
  font-weight:bolder;
} 

.place-content{
  font-size: large;
  padding: 10px 10px 10px 10px ;
  color: #000;
  line-height: 30px;
}

.rigth{
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;    
  align-items: center;   
}

#canvas{
  width: 100%;
  height: width;
}

.wrap{
  width: 100%;
  height: 50%;
  padding: 20px 10px 20px 10px;
  text-align: center;
}

.search, .search-checkbox{
  display: inline-block;
  line-height: 50px;
  width: 100%;
}

.search-label{
  padding-right: 10px;
  width: 20%;
  text-align: right;
}

.search-bar{
  height: 30px;
  width: 35%;
  margin-right: 15%;
  display: inline-block;
  text-align: left;
}

.search-checkbox-label{
  width: 50%;
  display: inline-block;
  text-align: left;
}

.alert{
  margin-top :10px;
}

#msg-error{
  display: none;
  text-align: center;
}

#msg-result{
  display: none;
  text-align: center;
}

.checked {
  color: orange;
}