<html>
    <head>
        <title>Branch Test</title>
        <script src='https://cdn.jsdelivr.net/npm/winwheeljs@2.7.0/dist/Winwheel.min.js'></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        <style>
          .container{
            width: 100%;
            height: 100vh;
            display: flex;
          }
          #map{
              width: 50%;
              height: 100vh;
          }
          #canvas{
              width: 50%;
              height: 50%;
          }

      </style>
    </head>
    <body>
      {% load static %}
      <div class="container">
        <div id="map" ></div>
        <canvas id="canvas" 
        width="880" height="440"  style="z-index: 3;"
          data-responsiveMinWidth="180"
          data-responsiveScaleHeight="true"   
          data-responsiveMargin="50"
          onclick="startSpin()">
        </canvas>
      </div>
      
      <audio id="myAudio"> 
        <source src="{% static '/media/tick.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <button onclick="startSpin()" type="button">Play Audio</button>
    </audio>
      <script>
        
        function initMap() {
          var map, infoWindow;
          map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 16,
          });
          infoWindow = new google.maps.InfoWindow();
          const locationButton = document.createElement("button");

          locationButton.textContent = "Pan to Current Location";
          locationButton.classList.add("custom-map-control-button");
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
          locationButton.addEventListener("click", () => {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                (position) => {
                  const pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                  };
                  infoWindow.setPosition(pos);
                  infoWindow.setContent("Location found.");
                  infoWindow.open(map); 
                  map.setCenter(pos);
                },
                () => {
                  handleLocationError(true, infoWindow, map.getCenter());
                }
              ); 
              } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
              }
            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
              infoWindow.setPosition(pos);
              infoWindow.setContent(
                browserHasGeolocation
                  ? "Error: The Geolocation service failed."
                  : "Error: Your browser doesn't support geolocation."
              );
              infoWindow.open(map);
            }
            var service = new google.maps.places.PlacesService(map);

            service.findPlaceFromQuery(request, function(results, status) {
              if (status === google.maps.places.PlacesServiceStatus.OK) {
                console.log(results[0].geometry);
              //   for (var i = 0; i < results.length; i++) {
              //     createMarker(results[i]);
                  
              //   }
              //   new google.maps.Marker({
              //   position: {laresults[0].geometry.location.lat , results[0].geometry.location.lng },
              //   map,
              //   title: "Hello World!",
              // });
                map.setCenter(results[0].geometry.location);
              }
            });
          });
          var request = {
            query: '美食',
            fields: ['name', 'geometry'],
          };

          
        }
        
        window.initMap = initMap;
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt4ZfNINLe9AQgtPoUYkRv_P_tvifCCHM&callback=initMap&libraries=places" async defer></script>
      <script>
        
          let audio = document.getElementById("myAudio");
          // The responisve parameter is the only difference needed to make a wheel responsive.
          let theWheel = new Winwheel({
              'numSegments'  : 8,
              'textFontSize' : 28,
              'responsive'   : true,  // This wheel is responsive!
              'pointerAngle' : 90,    // Ensure this is set correctly
              'segments'     :
              [
                  {'fillStyle' : '#eae56f', 'text' : 'Prize 1'},
                  {'fillStyle' : '#89f26e', 'text' : 'Prize 2'},
                  {'fillStyle' : '#7de6ef', 'text' : 'Prize 3'},
                  {'fillStyle' : '#e7706f', 'text' : 'Prize 4'},
                  {'fillStyle' : '#eae56f', 'text' : 'Prize 5'},
                  {'fillStyle' : '#89f26e', 'text' : 'Prize 6'},
                  {'fillStyle' : '#7de6ef', 'text' : 'Prize 7'},
                  {'fillStyle' : '#e7706f', 'text' : 'Prize 8'}
              ],
              'animation' :
              {
                  'type'     : 'spinToStop',
                  'duration' : 5,
                  'spins'    : 8,
                  'callbackSound' : 'playSound()' , 
                  'soundTrigger'  : 'pin',
                  'callbackFinished' : 'alertPrize()',
                  'callbackAfter' : 'drawTriangle()',
              },
              'pins' :
              {
                  'number' : 16,
                  'outerRadius': 6,
                  'responsive' : true, // This must be set to true if pin size is to be responsive.
              }
          });

          // Called by the onClick of the canvas, starts the spinning.
          function startSpin()
          {
              // Stop any current animation.
              theWheel.stopAnimation(false);
      
              // Reset the rotation angle to less than or equal to 360 so spinning again works as expected.
              // Setting to modulus (%) 360 keeps the current position.
              theWheel.rotationAngle = theWheel.rotationAngle % 360;
      
              // Start animation.
              theWheel.startAnimation();
          }
          drawTriangle();
          function drawTriangle()
          {
              // Get the canvas context the wheel uses.
              let ctx = theWheel.ctx;

              ctx.strokeStyle = 'navy';     // Set line colour.
              ctx.fillStyle   = 'aqua';     // Set fill colour.
              ctx.lineWidth   = 2;
              ctx.beginPath();              // Begin path
 
              // degree 45
              ctx.moveTo(670, 194);      // Move to initial position.
              ctx.lineTo(670, 246);      // Draw lines to make the shape.
              ctx.lineTo(630, 220);
              ctx.lineTo(670, 195);
              ctx.stroke();                 // Complete the path by stroking (draw lines).
              ctx.fill();                   // Then fill.
          }
          function alertPrize()
          {
              // Call getIndicatedSegment() function to return pointer to the segment pointed to on wheel.
              let winningSegment = theWheel.getIndicatedSegment();
              playSound();
              // Basic alert of the segment text which is the prize name.
              alert("You have won " + winningSegment.text + "!");
          }
          function play123(){
            console.log('123');
          }
          // var audio = document.getElementById("myAudio"); 
          function playSound()
          {
              // Stop and rewind the sound (stops it if already playing).
              audio.pause();
              audio.currentTime = 0;
      
              // Play the sound.
              audio.play();
          }
      </script>
    </body>
</html>